.contents.clearfix
  .alert チャットグループが作成されました。

  /左側
  .side__contents.clearfix
    /ユーザー名表示
    .user.clearfix
      .user__name__box
        %p.user__name nameSample
      .link__box
        %ul
          /新規チャットグループ作成
          %li.fa.fa-pencil-square-o
            %a{href: '/#', title: 'title'}
          /アカウント編集
          %li.fa.fa-cog
            %a{href: '/#', title: 'title'}
    /グループ表示
    .group.clearfix
      .group__box
        %a{href: '/#', title: 'title'}
          %p.group__title sample
          %p.group__txt aaaaa
      .group__box
        %a{href: '/#', title: 'title'}
          %p.group__title sample
          %p.group__txt aaaaa
      .group__box
        %a{href: '/#', title: 'title'}
          %p.group__title sample
          %p.group__txt aaaaa

  /右側
  .main__contents
    /グループ名表示箇所
    .header.clearfix
      .header__name__box
        .group__header__title sampleグループ
        .member__header__name MEMBER: TestTarou
      .header__edit
        %a{class: 'edit__txt', href: '/#', title: 'title'} Edit
    /チャット表示箇所
    .main
      .main__txt__box.clearfix
        .main__member__name TestTarou
        .post__time.clearfix 2017/11/1 12:00:00
        .post__txt 投稿文
      .main__txt__box
        .main__member__name TestTarou
        .post__time.clearfix 2017/11/1 12:00:00
        .post__txt 投稿文
      .main__txt__box
        .main__member__name TestTarou
        .post__time.clearfix  2017/11/1 12:00:00
        .post__txt 投稿文
      .main__txt__box
        .main__member__name TestTarou
        .post__time.clearfix  2017/11/1 12:00:00
        .post__txt 投稿文
      .main__txt__box
        .main__member__name TestTarou
        .post__time.clearfix  2017/11/1 12:00:00
        .post__txt 投稿文
      .main__txt__box
        .main__member__name TestTarou
        .post__time.clearfix  2017/11/1 12:00:00
        .post__txt 投稿文
      .main__txt__box
        .main__member__name TestTarou
        .post__time.clearfix  2017/11/1 12:00:00
        .post__txt 投稿文
      .main__txt__box
        .main__member__name TestTarou
        .post__time.clearfix  2017/11/1 12:00:00
        .post__txt 投稿文
    /入力箇所
    .footer
      .footer__box
        .form__img__box
          .form__box
            %form.message__box
              %input{class:'input__box',type: 'text', placeholder: 'type a message'}
          %label.img__box
            %i.fa.fa-picture-o
            %input{class:'hidden', type: 'file',}
        .send
          %input{class:'send__box', type: 'submit', value: 'Send'}
