body {
  overflow-y:hidden;
}

.alert {
  background-color: #38AEF0;
  color: #fff;
  text-align: center;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

//左側
.sideContents {
  float: left;
  height: 100vh;
  width: 300px;
  //ユーザー名表示
  .user {
    background-color : #253141;
    padding: 35px 20px 35px 20px;
    .namebox {
      float: left;
        .userName {
          color: #FFF;
          font-size: 16px;
          font-weight: bold;
      }
    }
    .linkbox {
      float: right;
      .fa-pencil-square-o {
        color: #fff;
      }
      .fa-cog {
        color: #fff;
      }
    }
  }
  //チャットグループ表示
  .group {
    background-color: #2f3e51;
    height: 100vh;
    padding: 0px 20px;
    .groupbox{
      padding-top: 20px;
      .groupTitle{
        color: #fff;
        font-size: 15px;
      }
      .groupTxt{
        color: #fff;
        font-size: 11px;
        padding: 5px 0px 40px;
      }
    }
  }
}


//右側
.mainContents {
  float: left;
  height: 100vh;
  width: calc(100vw - 315px);
  //グループ名表示箇所
  .header{
    border-bottom-color: #eee;
    border-bottom: 1px;
    padding: 0px 40px;
    .headerNamebox{
      float: left;
      .groupHeaderTitle {
        font-size: 20px;
        color:#333;
        padding: 35px 0px 15px;
      }
      .memberHeaderName {
        font-size: 12px;
        color: #999;
      }
    }
    //Editボタン
    .headerEdit {
      border: 1px solid #38AEF0;
      color: #38AEF0;
      float: right;
      margin-top: 28px;
      padding: 0px 20px;
      line-height: 40px;
      text-decoration: none;
        .editTxt {
          color: #38AEF0;
          text-decoration: none;
        }
    }
  }
  //チャット表示箇所
  .main {
    background-color: #AAA;
    border-top-color: #eee;
    border-top-style: solid;
    height: calc(100vh - 100px - 135px);
    overflow: scroll;
    padding: 46px 40px;
  }
    .memberMainName {
      font-size: 16px;
      font-weight: bold;
      float: left;
      margin-right: 10px;
    }
    .postTime {
      font-size:12px;
      color: #999;
    }
    .postTxt {
      color: #434A54;
      font-size: 14px;
      margin: 10px 0px 40px;
    }
  //入力箇所
  .footer {
    bottom:0;
    background-color: #DDD;
    height: 50px;
    padding: 20px 40px;
    position:fixed;
        .form-imgbox {
          float: left;
          .formbox {
            float: left;
                .inputbox {
                  height: 50px;
                  border: none;
                  width: calc(100vw - 555px);
                  padding-left: 10px;
                }
          }
          .imgbox {
            background-color: #fff;
            float: right;
            height: 50px;
            margin-right: 15px;
            line-height: 50px;
            padding-left: 25px;
            padding-right: 10px;
            .hidden {
              display: none;
            }
          }
        }
        .send {
          float: right;
          .sendbox{
            background-color:#38AEF0;
            border: none;
            color: #fff;
            float: right;
            line-height: 50px;
            padding: 0px 20px;
          }
        }
  }
}


